/*


*/


@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

//Website footer section

@media (max-width: 719px) {
  .footer-wrapper {
    padding-left: 0rem;
  }
}

.no-sidebar .footer-wrapper {
    padding-left: 0rem;
}

.footer {
  width: 25%;
}

.socialsBar {
  display: flex;
  gap: 25px;
  font-size: 25px;
  justify-content: center;
}

.linksBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.linksBoxLeft {
  padding: 0px 10px 0px 0px;
  text-align: left;
}

.linksBoxMid {
  padding: 0px 10px 0px 10px;
  text-align: left;
}

.linksBoxRight {
  padding: 0px 0px 0px 10px;
  text-align: left;
}

.linksBoxHeader {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

.linksBoxContent, .linksBoxContent a {
  margin: 0px;
}

.linksBoxContent ul {
  list-style: none;
  padding: 0px;
}

.linksBoxContent li {
  margin-bottom: 2px;
}

.linksBoxContent a {
  display:inline-block;
  line-height: 1.2;
}

.copyrightBar {

}

#logo-footer {
  fill:var(--text-color);
  fill-opacity:1;
  height: 50px;
  margin: 10px 0px 20px 0px;
  width: auto;
}
