@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

//Container formatting
//Annoyingly the table takes on the details background which makes it look odd so this overrides some of it until we sort the overall theme out.
.custom-container.details table {
  display: table;
  width: 75%;
}

html[data-theme=light] .custom-container.details table {
  background-color: #FAFAFA;
}

html[data-theme=light] .custom-container.details th {
  background-color: rgba(0,0,0,0.01);
}

html[data-theme=dark] .custom-container.details th {
  background-color: #111;
}

#hero {
  position: relative;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  height: 100vh;
}

#hero > div {
  max-width: 37em;
}

#hero > div img {
  height: 3em;
}

#hero h1 {
  font-size: 4em;
  color: var(--c-brand);
  font-weight: bold;
}

#hero > img {
  position: relative;
  height: 12em;
  animation: slide linear 10s infinite;
}

@keyframes slide {
  0%   {top: 0px;}
  25% {top: -50px;}
  75% {top: 50px;}
  100% {top: 0px;}
}

@media screen and (max-width: 900px) {
  #hero > img {
    height: 20vw;
  }
  #hero h1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 700px) {
  #hero {
    flex-direction: column;
    gap: 3em;
  }
  #hero h1 {
    font-size: 10vw;
  }
}

//Website footer section

//Theme adds a sidebar width even on mobile when it doesnt show, this removes it.
@media (max-width: 719px) {
.no-sidebar .footer-wrapper, .footer-wrapper {
    padding-left: 0rem;
  }
}

.footer {
  width: 100%;
  max-width: 1000px;
}

.socialsBar {
  display: flex;
  gap: 25px;
  font-size: 25px;
  justify-content: center;
}

// To allow wrapping on very narrow screens
@media (max-width: 350px) {
  .socialsBar {
    flex-wrap: wrap;
  }
}

.linksBox {
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// Snaps to single column on very narrow screens
@media (max-width: 350px) {
  .linksBox {
    flex-direction: column;
  }
}

.linksBoxLeft {
  text-align: left;
  margin: auto;
}

.linksBoxMid {
  text-align: left;
  margin: auto;
}

.linksBoxRight {
  text-align: left;
  margin: auto;
}

.linksBoxHeader {
  font-weight: bold;
  font-size: 20px;
}

.linksBoxContent, .linksBoxContent a {
  margin: 0px;
}

.linksBoxContent ul {
  list-style: none;
  padding: 0px;
}

.linksBoxContent li {
  margin-bottom: 2px;
}

// Sets the line height for wrapped text when the boxes are shrunk to make the
// separation obvious
.linksBoxContent a {
  display:inline-block;
  line-height: 1.2;
}

.copyrightBar {

}

#logo-footer {
  fill:var(--text-color);
  fill-opacity:1;
  height: 50px;
  margin: 10px 0px 20px 0px;
  width: auto;
}
