.home.project {
  .hero-info-wrapper {
    position: relative;
    padding: 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    height: calc(100vh - var(--navbar-height));

    @media screen and (max-width: 700px) {
      flex-direction: column;
      gap: 3em;
    }

    #hero-info {
      max-width: 37em;

      .hero-title-image {
        height: 3em;
      }

      h2 {
        font-size: 4em;
        color: var(--theme-color);
        font-weight: bold;

        @media screen and (max-width: 900px) {
          font-size: 6vw;
        }

        @media screen and (max-width: 700px) {
          font-size: 10vw;
        }
      }
    }

    .hero-logo {
      position: relative;
      height: 12em;
      animation: slide linear 10s infinite;

      @media screen and (max-width: 900px) {
        height: 20vw;
      }
    }

    .action-button {
      display: inline-block;

      overflow: hidden;

      min-width: 4rem;
      margin: 0.5rem;
      padding: 0.5em 1.5rem;
      border-radius: 2rem;

      background: var(--bg-color-secondary);
      color: var(--text-color);

      font-size: 1.2rem;
      text-align: center;

      transition: color var(--color-transition), color var(--color-transition),
        transform var(--transform-transition);

      @media (max-width: hope-config.$tablet) {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
      }

      @media (max-width: hope-config.$mobile) {
        font-size: 1rem;
      }

      @media print {
        text-decoration: none;
      }

      &:hover {
        background: var(--bg-color-tertiary);
      }

      &.primary {
        border-color: var(--theme-color);
        background: var(--theme-color);
        color: var(--white);

        // stylelint-disable max-nesting-depth
        &:hover {
          border-color: var(--theme-color-light);
          background: var(--theme-color-light);
        }
        // stylelint-enable max-nesting-depth
      }
    }
  }

  #sponsors {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1.5rem;
    }
  }
}
