
<section>
  <h2 id="latest-version">Current version</h2>
  <p c>The latest version of Pulsar is <strong><%= locals.currentVersion %></strong>. Older versions can be downloaded from <a href="https://github.com/pulsar-edit/pulsar/releases">our GitHub releases page</a>.</p>

  <p>This version supports the following platforms:</p>

  <ul>
    <li><strong>Windows</strong>: version 10 or greater</li>
    <li><strong>macOS</strong>: version 10.15 (Catalina) or greater</li>
    <li><strong>Linux</strong>: anything with <a href="https://en.wikipedia.org/wiki/Glibc">glibc</a> 2.31 or greater</li>
  </ul>
</section>
