<footer class="page-footer">
  <div class="page-footer__content">
    <div class="page-footer__sections">
      <section class="page-footer__section">
        <header class="page-footer__section-title">Pulsar</header>
        <ul class="page-footer__links">
          <li><a href="/download">Downloads</a></li>
          <li><a href="https://docs.pulsar-edit.dev/">Documentation</a></li>
          <li><a href="https://web.pulsar-edit.dev/">Package repository</a></li>
        </ul>
      </section>

      <section class="page-footer__section">
        <header class="page-footer__section-title">Team</header>
        <ul class="page-footer__links">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="https://github.com/pulsar-edit">Org repositories</a></li>
        </ul>
      </section>

      <section class="page-footer__section">
        <header class="page-footer__section-title">Resources</header>
        <ul class="page-footer__links">
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/code-of-conduct">Code of conduct</a></li>
          <li><a href="/community">Contact us</a></li>
        </ul>
      </section>
    </div>

    <div class="page-footer__copyright">
      <% let currentYear = new Date().getFullYear(); %>
      Pulsar-Edit &copy; 2022–<%= currentYear %>
    </div>
  </div>
</footer>

  <script src="/main.js"></script>

  <% if (typeof jsonld === "object") { %>
    <script type="application/ld+json">
      <%- JSON.stringify(jsonld, null, 4).replace(/"context"/g, '"@context"').replace(/"type"/g, '"@type"') %>
    </script>
  <% } %>
</html>
