<!DOCTYPE html>
<html lang="en" data-theme="">
  <% let title = locals?.customTitle ?? locals.title %>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" id="meta-scheme" content="">
    <meta property="og:title" content="<%= title %>">
    <script type="text/javascript">
      {
        // Populate the theme as early as possible to prevent a flash on load.
        let themeSetting = localStorage.getItem("preferred-theme");
        let theme = themeSetting;
        if (!themeSetting || themeSetting === "auto") {
          theme = (window.matchMedia("(prefers-color-scheme: light)").matches) ? "light" : "dark";
        }
        document.getElementById("meta-scheme").setAttribute("content", theme);
        document.documentElement.dataset.themeSetting = themeSetting ?? theme;
        document.documentElement.dataset.theme = theme;
      }
    </script>

    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://docs.pulsar-edit.dev/main.css" />
  </head>
