# Workflow intended to be run only on PRs, that attempts to build locally to catch any errors

name: Test Deployment

on:
  pull_request:
    # Not specifying a type, lets it run on an PR update

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - uses: pnpm/action-setup@v4
        with:
          version: 6.0.2
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Test Build
        run: pnpm build
